@section submenu{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Default" asp-action="AddStudent"><i class="fas fa-user-plus"> Ajouter un étudiant </i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Default" asp-action="GetThemAll"><i class="fas fa-list-ol"> Afficher la liste d'étudiants </i></a>
    </li>
}
<head>
    <link rel="stylesheet" href="~/css/test.css" />
</head>
<div class="myflex">
    <div>
        <h3>Soyez la bienvenue sur l'interface de gestion d'une base de données d'étudiants</h3>
    </div>
    <div>
        <p>Ici vous pouvez ajouter, supprimer et modifier les données des étudiants</p>
    </div>
    <div>
        <img src="https://actualiteinformatique.fr/wp-content/uploads/2019/04/cloud3.jpg" alt="Exemple base de données" class="myimg" />
    </div>
</div>
